* {
  text-decoration: none;
  list-style: none;
}
.header-outer-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background-color: black;
  color: white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.header-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left ul {
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
li img {
  width: 60px;
}
.header-right {
  width: 12%;
}
.header-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
